@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
       /* Caribbean Current */
  --color-caribbean_current: #115e59;
  --color-caribbean_current-100: #031312;
  --color-caribbean_current-200: #072624;
  --color-caribbean_current-300: #0a3936;
  --color-caribbean_current-400: #0e4c48;
  --color-caribbean_current-500: #115e59; /* Note: Same as DEFAULT */
  --color-caribbean_current-600: #1ea299;
  --color-caribbean_current-700: #35dacf;
  --color-caribbean_current-800: #79e6df;
  --color-caribbean_current-900: #bcf3ef;
  
      /* Lavender Blush */
  --color-lavender_blush: #ffeaee;
  --color-lavender_blush-100: #620012;
  --color-lavender_blush-200: #c40024;
  --color-lavender_blush-300: #ff274e;
  --color-lavender_blush-400: #ff899e;
  --color-lavender_blush-500: #ffeaee; /* Note: Same as DEFAULT */
  --color-lavender_blush-600: #ffeff2;
  --color-lavender_blush-700: #fff3f5;
  --color-lavender_blush-800: #fff7f8;
  --color-lavender_blush-900: #fffbfc;
  
      /* Lion */
  --color-lion: #af9164;
  --color-lion-100: #241d13;
  --color-lion-200: #493b25;
  --color-lion-300: #6d5838;
  --color-lion-400: #91754b;
  --color-lion-500: #af9164; /* Note: Same as DEFAULT */
  --color-lion-600: #bfa783;
  --color-lion-700: #cfbda2;
  --color-lion-800: #dfd3c1;
  --color-lion-900: #efe9e0;
  
      /* Cafe Noir */
  --color-cafe_noir: #56351e;
  --color-cafe_noir-100: #110b06;
  --color-cafe_noir-200: #23160c;
  --color-cafe_noir-300: #342012;
  --color-cafe_noir-400: #452b18;
  --color-cafe_noir-500: #56351e; /* Note: Same as DEFAULT */
  --color-cafe_noir-600: #915a33;
  --color-cafe_noir-700: #c28051;
  --color-cafe_noir-800: #d6aa8b;
  --color-cafe_noir-900: #ebd5c5;
  
      /* Tekhelet */
  --color-tekhelet: #3d348b;
  --color-tekhelet-100: #0c0a1c;
  --color-tekhelet-200: #181437;
  --color-tekhelet-300: #241f53;
  --color-tekhelet-400: #30296e;
  --color-tekhelet-500: #3d348b; /* Note: Same as DEFAULT */
  --color-tekhelet-600: #5044b9;
  --color-tekhelet-700: #7b72cb;
  --color-tekhelet-800: #a7a1dc;
  --color-tekhelet-900: #d3d0ee;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}